.tree-containt{
	position: relative;
}
.container {
    width: 1920px !important;
    margin: 0;
    padding: 0;
}

img {
    width: 25px !important;
    height: 25px !important;
}

.static-tree {
	margin-top: 25px;
}
.static-node {
    display: inline-block;
    width: 49%;
    float: left;
}

.static-tree li a:hover, .tree li a:hover+ul li a {
       background: #bdc9d6;
    color: #000 !important;
    border: 1px solid #000;
}
.static-tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.static-tree li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
a#node1:after {
    content: "";
    width: 440px;
    background: #ccc;
    height: 1px;
    position: absolute;
    transform: rotate(-166deg);
    top: 37%;
    left: 88%;
} 

a#node2:after {
    content: "";
    width: 440px;
    background: #ccc;
    height: 1px;
    position: absolute;
    transform: rotate(-14deg);
    top: 8px;
    left: 95%;
}
a#node2:before {
    content: "<";
    left: 17px;
    position: absolute;
    top: 17%;
    font-weight: 900;
    transform: rotate(-15deg);
}
a#node2:before {
    content: "<";
    left: 97%;
    position: absolute;
    top: 50%;
    font-weight: 900;
    transform: rotate(-15deg);
}

a#node4:before {
    content: ">";
    left: 0;
    position: absolute;
    top: 50%;
    font-weight: 900;
    transform: rotate(7deg);
}
.static-tree ul li:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}
a#node5:after {
    content: "";
    width: 440px;
    background: #ccc;
    height: 1px;
    position: absolute;
    transform: rotate(0deg);
    top: 62%;
    left: 100%;
}
a#node5:before {
    content: "<";
    left: 100%;
    position: absolute;
    top: 55%;
    font-weight: 900;
    transform: rotate(0deg);
}
a#node6:before {
    content: ">";
    left: 0;
    position: absolute;
    top: 55%;
    font-weight: 900;
    transform: rotate(0deg);
}

a#node4:after {
    content: "";
    width: 440px;
    background: #ccc;
    height: 1px;
    position: absolute;
    transform: rotate(-14deg);
    top: 115%;
    left: -348%;
}

a#node6:after {
    content: "";
    width: 450px;
    background: #ccc;
    height: 1px;
    position: absolute;
    transform: rotate(5deg);
    top: 30%;
    left: -370%;
}
div.static-tree a#node6:after {
    content: "";
    width: 1px;
    background: #000;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: rotate(0deg);
}
div.tree {
    margin-left: 10.3%;
    margin-top: 15.9%;
    text-align: center;
}


/* new design for networking */
.tree li a.have_child {
    border: none;
    padding:  0;
    background: transparent !important;
    width: 100%;
    margin-bottom:  -23px;
    border: none !important;
}
.tree li a.have_child .img_circle {
    display:  inline-block;
    border: 1px solid #184069;
    background: #184069;
    border-radius:  100%;
    padding: 5px;
    top: -19px;
}

.tree li a.have_child span.lnks_tooltip_wrap {
    font-size: 15px;
    color: #000;
    display:  inline-block;
    font-weight: 600;
    margin-left: -25px;
}
.tree li a.have_child span.img_circle {
    z-index: 1;
    position:  relative;
}
.tree li a.have_child span.img_circle img {
    width: 45px;
    height: 45px;
}
span.lnks_tooltip_wrap_inside {
    display: inline-block;
    border: 1px solid #184069;
    background: #bdc9d6;
    border-radius: 6px;
    padding: 3px 30px;
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
}
.tooltip .tooltip-inner {
    background:#184069;
}
.arrow:before {
    border-top-color: #184069 !important;
}
a.end_child {
    background: #37618c;
    color:#fff !important;
}

span.end_child_span {
    padding: 2px 14px;
    display:  inline-block;
    font-size: 13px;
}
.tree a.end_child:hover {
    color: #000 !important;}

.tooltip-inner:before {
    content: '\f062';
}

.tooltip-inner:after {
    content: '\f063';
}
.tooltip-inner:before, .tooltip-inner:after {
    font-family: fontAwesome;
    padding: 0 5px;
}